.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;

  .my-table {
    min-width: 99%;
    border: 1px solid lightskyblue;

    th {
      background: darkcyan;
    }

    tr:nth-child(even) {
      background: rgb(165, 243, 165);
    }
  }
}
